.dropdown li{
    list-style: none;
    position: relative;
}
.submenu{
    display:none;
    background-color:aliceblue;
    font-size:12px;
    position:absolute;
}
.dropdown{
    display:flex;
    
}